<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>timescape | Login</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
</head>
<style>
    .error {
        color: red;
        margin-right: 10px;
    }

    label.error {
        display: inline;
    }
</style>

<body hold-transition login-page>
    <div class="body"
        style="display: flex; align-items: center; justify-content:left; height: 100vh; width: 100vw; background-image: url(dist/img/salvador-escalante-EfjlkpoGjs4-unsplash.jpg);background-size:cover;background-repeat: no-repeat;">
        <div class="login-box" style="margin-left: 120px;">
            <!-- /.login-logo -->
            <div class="card card-outline card-primary">
                <div class="card-header text-center">
                    <a class="h1">TimeScape</a>
                </div>
                <div class="card-body">
                    <p class="login-box-msg">Sign in to continue</p>

                    <form id="loginform" method="post" action="/api/login">
                        <div class="input-group mb-3">

                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            <input type="password" class="form-control" id="password" name="password"
                                placeholder="Password">

                        </div>

                        <div>
                            <button id="loginbutton" type="submit" class="btn btn-primary btn-block">Login</button>
                        </div>
                    </form>
                    <p class="mb-1">
                        <a href="/forgotpassword">I forgot my password</a>
                    </p>
                    <!-- <p class="mb-0">
                    <a href="register.html" class="text-center">Register a new membership</a>
                </p> -->

                    <span id="displaymessage" style="color: red;">
                        <%= data%>
                            <%= response1%>
                    </span>

                    </p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>

        <!-- __________________________________________________________________________________________  -->

    </div>
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>
    <!-- jquery  validation -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

    <script src="/javascripts/login.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- <script src="/dist/js/demo.js"></script> -->

</body>

</html>