<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timescape | admin panel</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">

    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>

<body class="sidebar-mini">
    <% include ../layouts/navbar.ejs %>



        <% include ../layouts/sidebar.ejs %>
            <!-- /.sidebar -->
            </aside>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">Edit Offer</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">




                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->

                <section class="content">
                    <div class="row">
                        <div class="col-md-4  ">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit Offer</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="inputName">Name</label>
                                        <input type="text" id="name" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Apply on</label><br>
                                        <select id="cat_id" class="form-control" >
                                           
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Offer Details</label><br>
                                        <textarea id="offer_details" class="form-control" cols="40"
                                        rows="2"></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName">Disount Type</label><br>
                                        <select id="discont_type" class="form-control">
                                            <option value="fixvalue">fix value</option>
                                            <option value="percentage">Percentage</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Discount Amount</label>
                                        <input type="number" id="discount_price" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Display Order</label>
                                        <input type="number" id="offer_order" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Offer From</label>
                                        <input type="datetime-local" id="offer_from" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputName">Offer Till</label>
                                        <input type="datetime-local" id="offer_till" class="form-control">
                                    </div>  
                                    <div class="row">
                                        <div class="col-12 project-actions text-right">
                                            <a id="confirm" class="btn btn-primary btn-sm">
                                                confirm
                                            </a>
                                            <a id="cancel" class="btn btn-danger btn-sm" href="/offers">
                                                cancel
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>

                    </div>

                </section>



            </div>
            <!-- /.content-wrapper -->

            <% include ../layouts/footer.ejs %>

                <!-- REQUIRED SCRIPTS -->

                <!-- jQuery -->
                <script src="/plugins/jquery/jquery.min.js"></script>
                <script src="/javascripts/offers/editoffer.js"></script>
                <!-- Bootstrap -->
                <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
                <!-- AdminLTE -->
                <script src="/dist/js/adminlte.js"></script>

                <!-- OPTIONAL SCRIPTS -->
                <!-- <script src="plugins/chart.js/Chart.min.js"></script> -->
                <!-- AdminLTE for demo purposes -->
                <!-- <script src="dist/js/demo.js"></script> -->
                <!-- AdminLTE dashboard demo (This is only for demo purposes) -->

</body>

</html>